<template>
  <div>
    <h2>Add Chocolate</h2>
    <form @submit.prevent="handleSubmit">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" v-model="chocolateData.name" required />
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" v-model="chocolateData.price" required />
      </div>
      <div>
        <label for="sort">Sort:</label>
        <select id="sort" v-model="chocolateData.sort" required>
            <option value="Obična">Obična</option>
            <option value="Za kuvanje">Za kuvanje</option>
            <option value="Za piće">Za piće</option>
        </select>
      </div>
      <div>
        <label for="type">Type:</label>
        <select id="type" v-model="chocolateData.type" required>
            <option value="Crna">Crna</option>
            <option value="Bela">Bela</option>
            <option value="Mlečna">Mlečna</option>
        </select>
      </div>
      <div>
        <label for="weight">Weight:</label>
        <input type="number" id="weight" v-model="chocolateData.weight" required />
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" v-model="chocolateData.description" required />
      </div>
      <div>
        <label for="image">Image:</label>
        <select v-model="chocolateData.image">
          <option v-for="image in images" :key="image" :value="image">{{ image }}</option>
        </select>
      </div>

      <button type="submit">Add Chocolate</button>
      <button type="button" @click="$emit('close')">Cancel</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    factoryId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      chocolateData: {
        name: '',
        price: '',
        weight: '',
        description: '',
        image: '',
        sort: '',
        type: ''
      },
      images: []
    };
  },
  methods: {
    async handleSubmit() {
      try {
        console.log('Sending data:', this.chocolateData);
        // console.log(this.chocolateData)
        const response = await axios.post(`http://localhost:8080/factories/${this.factoryId}/chocolates`, this.chocolateData);
        console.log(response.data);
        alert('Chocolate successfully added!');
        this.$emit('close');
      } catch (error) {
        console.error('There was an error adding the chocolate!', error);
        if (error.response && error.response.data) {
                console.error('Response data:', error.response.data);
                alert(`Error: ${error.response.data.message}\n${JSON.stringify(error.response.data.errors)}`);
        }
      }
    }
  },
  mounted() {
    this.images = ['Green_and_Black\'s_dark_chocolate.jpg',
      'milk_chocolate.jpg',
      'white_chocolade.jpg'];
  }
};
</script>

<style scoped>
/* Add styles as needed */
</style>