<template>
    <div class="cart-item">
        <div>
            <Image imageStyle="border-radius: 10px; height: 100%; width: 125px; object-fit: cover;"
                :src="`http://localhost:8080/static${cartItem.chocolate.image}`" />
            <div class="info">
                <span>{{ cartItem.chocolate.name }}</span>
                <div class="tags">
                    <Tag :value="cartItem.chocolate.sort" />
                    <Tag :value="cartItem.chocolate.type" severity="warning" />
                    <Tag :value="`Dodatnih komada dostupno: ${cartItem.chocolate.availableAmount}`"
                        severity="secondary" />
                </div>

            </div>
        </div>
        <div class="actions">
            <span class="price">{{ `${cartItem.chocolate.price} RSD` }}</span>
            <div class="buttons">
                <InputNumber v-model="cartItem.amount" showButtons :min="1"
                    :max="cartItem.chocolate.availableAmount + cartItem.amount"
                    v-on:update:modelValue="emit('cartUpdate')" />
                <Button icon="pi pi-cart-minus" label="Ukloni" severity="danger"
                    @click="removeItem(cartItem.chocolate._id)" />
            </div>
        </div>
    </div>
</template>

<script setup>
import { getSession } from '@/utils/session';
import axios from 'axios'

import Image from 'primevue/image';
import Tag from 'primevue/tag';
import InputNumber from 'primevue/inputnumber';
import Button from 'primevue/button';

const emit = defineEmits(['cartUpdate', 'removeItem'])

defineProps({
    cartItem: {
        type: Object,
        required: true
    },
    cartId: {
        type: String,
        required: true
    }
})

const removeItem = (chocolateId) => {
    getSession().then(session => {
        axios.post(`http://localhost:8080/cart/remove/${session._id}`,
            { chocolateId: chocolateId }).then(response => console.log(response))
    })
}
</script>

<style scoped>
.cart-item {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0.5rem;
    justify-content: space-between;
}

.cart-item>div {
    display: flex;
}

.info {
    padding: 0 1rem;
}

.info span {
    font-weight: 500;
}

.tags {
    display: flex;
    padding: 10px 0;
    gap: 5px;
}

.actions {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: end;
}

.price {
    font-size: 1.25rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: .75rem;
}

:deep(.p-inputnumber-input) {
    width: 100px;
}
</style>