<template>
    <div class="chocolate-item" v-if="!isCustomer || chocolate.availableAmount > 0">
        <img class="item-image" height="85" width="120" alt="Chocolate Image"
            :src="`http://localhost:8080/static/${chocolate.image}`" />
        <div class="info">
            <div class="info-header">
                <h4>{{ chocolate.name }}</h4>
                <Tag :value="chocolate.sort" />
                <Tag :value="chocolate.type" />
                <Tag severity="secondary" :value="`${chocolate.weight}g`" />
                <Tag :value="chocolate.status"
                    :severity="chocolate.status === 'Ima na stanju' ? 'success' : 'danger'" />
            </div>
            <p>{{ chocolate.description }}</p>
        </div>
        <div class="price-actions">
            <ConfirmPopup></ConfirmPopup>
            <span class="price">{{ `${chocolate.price} RSD` }}</span>
            <div class="actions" v-if="isManager">
                <Button icon="pi pi-pen-to-square" label="Izmeni" severity="info" @click="showEditDialog(chocolate)" />
                <Button icon="pi pi-trash" label="Obriši" severity="danger" @click="confirmDelete($event, chocolate)" />
                <Dialog class="dialog" v-model:visible="editDialogVisible" header="Izmeni Čokoladu"
                    :style="{ width: '25rem' }">
                    <form class="edit-chocolate-form" action="post" @submit.prevent="editChocolate(selectedChocolate)">
                        <table>
                            <tr>
                                <td class="label-col"><label for="name">Naziv</label></td>
                                <td class="data-col">
                                    <InputText required v-model="selectedChocolate.name" id="name" class="flex-auto"
                                        autocomplete="off" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label-col"><label for="price">Cena</label></td>
                                <td class="data-col">
                                    <InputNumber required v-model="selectedChocolate.price" id="price" mode="currency"
                                        currency="RSD" :min="0" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label-col"><label for="weight">Gramaža</label></td>
                                <td class="data-col">
                                    <InputNumber required v-model="selectedChocolate.weight" id="weight" suffix=" g"
                                        :min="0" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label-col"><label for="type">Tip</label></td>
                                <td class="data-col">
                                    <Dropdown :options="types" v-model="selectedChocolate.type" id="type"
                                        class="flex-auto" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label-col"><label for="sort">Vrsta</label></td>
                                <td class="data-col">
                                    <Dropdown :options="sorts" v-model="selectedChocolate.sort" id="sort" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="textarea-col">
                                    <label for="description">Opis</label>
                                    <Textarea required v-model="selectedChocolate.description" id="description" rows="5"
                                        cols="30" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-buttons-wrapper">
                                        <Button type="submit" label="Sačuvaj" />
                                        <Button type="button" label="Odustani" severity="secondary"
                                            @click="closeEditDialog" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </Dialog>
            </div>
            <div class="actions" v-else-if="isEmployee">
                <Button icon="pi pi-pen-to-square" label="Izmeni količinu" severity="info"
                    @click="showAmountDialog(chocolate)" />
                <Dialog class="dialog" v-model:visible="amountDialogVisible" header="Izmeni količinu"
                    :style="{ width: '25rem' }">
                    <form class="edit-chocolate-form" action="post" @submit.prevent="updateAmount(selectedChocolate)">
                        <table>
                            <tr>
                                <td class="label-col"><label for="amount">Količina</label></td>
                                <td class="data-col">
                                    <InputNumber required v-model="selectedChocolate.availableAmount" id="amount"
                                        :min="0" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-buttons-wrapper">
                                        <Button type="submit" label="Sačuvaj" />
                                        <Button type="button" label="Odustani" severity="secondary"
                                            @click="closeAmountDialog" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </Dialog>
            </div>
            <div class="actions" v-else-if="isCustomer">
                <InputNumber v-model="chocolateAmount" showButtons :min="1" :max="chocolate.availableAmount" />
                <Button icon="pi pi-cart-plus" label="Dodaj" severity="primary"
                    @click="addToCart(chocolate._id, chocolateAmount)" />
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import { computed, ref } from 'vue';
import { getSession, isAdministrator, isCustomer } from '@/utils/session';

import Tag from 'primevue/tag';
import Button from 'primevue/button';
import ConfirmPopup from 'primevue/confirmpopup';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import InputNumber from 'primevue/inputnumber';
import Dropdown from 'primevue/dropdown';
import Textarea from 'primevue/textarea';

import { useConfirm } from "primevue/useconfirm";

const confirm = useConfirm();
const selectedChocolate = ref({});
const emit = defineEmits(['delete', 'update'])

const types = ref(["Crna", "Bela", "Mlečna"])
const sorts = ref(["Obična", "Za kuvanje", "Za piće"])

const props = defineProps({
    chocolate: {
        type: Object,
        required: true
    },
    isManager: {
        type: Boolean,
        required: false,
        default: false
    },
    isEmployee: {
        type: Boolean,
        required: false,
        default: false
    }
});

const editDialogVisible = ref(false);
const showEditDialog = (c) => {
    selectedChocolate.value = JSON.parse(JSON.stringify(c));
    editDialogVisible.value = true;
}

const closeEditDialog = () => {
    selectedChocolate.value = {};
    editDialogVisible.value = false;
}

const amountDialogVisible = ref(false);
const showAmountDialog = (c) => {
    selectedChocolate.value = JSON.parse(JSON.stringify(c));
    amountDialogVisible.value = true;
}

const closeAmountDialog = () => {
    selectedChocolate.value = {};
    amountDialogVisible.value = false;
}

const confirmDelete = (event, c) => {
    console.log(c);
    confirm.require({
        target: event.currentTarget,
        message: 'Da li si siguran?',
        icon: 'pi pi-exclamation-triangle',
        rejectClass: 'p-button-secondary p-button-outlined p-button-sm',
        acceptClass: 'p-button-sm',
        rejectLabel: 'Odustani',
        acceptLabel: 'Obriši',
        accept: () => {
            deleteChocolate(c);
        }
    });
}

const deleteChocolate = (chocolate) => {
    axios.delete(`http://localhost:8080/chocolates/${chocolate._id}`, chocolate)
        .then(response => { })
        .catch(error => console.log(error))
        .finally(() => { emit('update', chocolate); })
}

const editChocolate = (chocolate) => {
    //console.log(JSON.stringify(selectedChocolate.value));
    axios.put('http://localhost:8080/chocolates', chocolate)
        .then(response => { })
        .catch(error => console.log(error))
        .finally(() => {
            emit('update', chocolate);
            closeEditDialog();
        })
}

const updateAmount = (chocolate) => {
    axios.put(`http://localhost:8080/chocolates/${chocolate._id}`, { newAmount: chocolate.availableAmount })
        .then(response => console.log(response))
        .catch(err => console.error(err))
        .finally(() => {
            emit('update', chocolate);
            closeEditDialog();
        })
}

const chocolateAmount = ref(1);
const addToCart = (chocolateId, amount) => {
    getSession().then(session => {
        axios.post(`http://localhost:8080/cart/add/${session._id}`, {
            chocolateId: chocolateId,
            amount: amount
        }).then(response => {
            console.log(response);
        })
    })
}
</script>

<style scoped>
.chocolate-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    min-height: 85px;
}

.item-image {
    border-radius: 10px;
    object-fit: cover;
}

.info h4,
.info p {
    padding: 0;
    margin: 0.25rem 0;
}

.info {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 1.25rem;
}

.info-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 0.25rem;
}

.price {
    display: flex;
    align-items: end;
    font-size: 1.25rem;
    font-weight: 600;
}

.actions {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
}

.actions>* {
    height: 2rem;
}

.form-buttons-wrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

:deep(.p-inputnumber-input) {
    width: 100px;
}
</style>