<template>
    <div>
        <MultiSelect v-model="selectedChocolateTypes" :options="chocolateTypes" optionLabel="name" placeholder="Filtriraj po vrsti čokolade" class="mb-3" />

        <DataTable :value="filteredFactories" removableSort>
            <Column header="Logo">
                <template #body="slotProps">
                    <img :src="`http://localhost:8080/static/${slotProps.data.logo}`" alt="Logo" class="w-6rem border-round"
                        width="60" />
                </template>
            </Column>
            <Column field="name" header="Naziv" sortable>
                <template #body="slotProps">
                    <RouterLink :to="`/factories/${slotProps.data._id}`">{{ slotProps.data.name }}</RouterLink>
                </template>
            </Column>
            <Column field="location.adress" header="Lokacija" sortable></Column>
            <Column field="rating" header="Prosečna ocena" sortable></Column>
        </DataTable>
    </div>
    
</template>

<script setup>
import { ref, computed } from 'vue';
import MultiSelect from 'primevue/multiselect';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import ColumnGroup from 'primevue/columngroup';
import Row from 'primevue/row';

const props = defineProps({
    factories: {
        type: Array,
        required: true
    }
});

const chocolateTypes = ref([
    { name: 'Obična' },
    { name: 'Za kuvanje' },
    { name: 'Za piće' }
]);

const selectedChocolateTypes = ref([]);

const filteredFactories = computed(() => {
    if (selectedChocolateTypes.value.length === 0) {
        return props.factories;
    }
    return props.factories.filter(factory => 
        factory.chocolateTypes && selectedChocolateTypes.value.some(type => factory.chocolateTypes.includes(type.name))
    );
});


</script>

<style scoped>
.mb-3 {
    margin-bottom: 1rem;
}
</style>