<template>
    <Fieldset legend="Podaci o Fabrici">
        <div class="info-wrapper">
            <div class="logo-wrapper">
                <img height="150" width="150" :src="`http://localhost:8080/static/${factory.logo}`" alt="Logo">
            </div>
            <div class="info" v-if="factory">
                <div class="info-header">
                    <h2>{{ factory.name }}</h2>
                    <div class="tags">
                        <Tag icon="pi pi-map-marker" :value="factory.location ? factory.location.adress : ''"
                            severity="secondary" />
                        <Tag :value="factory.status" />
                        <Tag v-if="factory.status == 'Radi'" :value="factory.workingHours" />
                        <Tag icon="pi pi-star-fill" :value="factory.rating" severity="warning" />
                    </div>
                    <div class="factory-actions" v-if="isManager">
                        <Button type="button" icon="pi pi-user-plus" label="Dodaj radnika" severity="primary"
                            @click="showEmployeeDialog" />
                        <RouterLink :to="`/factories/${factory._id}/employees`">
                            <Button type="button" icon="pi pi-list" label="Prikaži radnike" severity="secondary" />
                        </RouterLink>

                        <Dialog class="dialog" v-model:visible="showAddEmployeeDialog" header="Dodaj radnika"
                            :style="{ width: '30rem' }">
                            <form action="post" @submit.prevent="addEmployee">
                                <table>
                                    <tr>
                                        <td class="label-col"><label for="firstName">Ime</label></td>
                                        <td class="data-col">
                                            <InputText required v-model="employee.firstName" id="firstName"
                                                autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-col"><label for="lastName">Prezime</label></td>
                                        <td class="data-col">
                                            <InputText required v-model="employee.lastName" id="lastName"
                                                autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-col"><label for="username">Korisničko ime</label></td>
                                        <td class="data-col">
                                            <InputText required v-model="employee.username" id="username"
                                                autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-col"><label for="password">Šifra</label></td>
                                        <td class="data-col">
                                            <InputText required v-model="employee.password" id="password"
                                                autocomplete="off" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-col"><label for="gender">Pol</label></td>
                                        <td class="data-col">
                                            <Dropdown :options="genders" v-model="employee.gender" id="gender" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-col"><label for="dateOfBirth">Datum rođenja</label></td>
                                        <td class="data-col">
                                            <Calendar v-model="employee.dateOfBirth" dateFormat="dd-mm-yy" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="form-buttons-wrapper">
                                                <Button type="submit" label="Dodaj" severity="primary" />
                                                <Button type="button" label="Odustani" severity="secondary"
                                                    @click="showAddEmployeeDialog = false" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </Dialog>
                    </div>
                    <div class="factory-ac" v-if="isCustomer && isAllowedToComment">
                        <Button type="button" icon="pi pi-comments" label="Ostavi komentar" severity="primary"
                            @click="showCommentDialog" />
                        <Dialog class="dialog" v-model:visible="commendDialogVisible" header="Dodaj komentar"
                            :style="{ width: '30rem' }">
                            <form action="post" @submit.prevent="postComment(factory._id)">
                                <tr>
                                    <td class="label-col"><label for="grade">Ocena</label></td>
                                    <td class="data-col">
                                        <Rating v-model="grade" :cancel="false" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="comment-textarea">
                                        <Textarea v-model="commentText" rows="5" cols="35" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="comment-actions">
                                            <Button type="submit" icon="pi pi-send" label="Postavi komentar"
                                                severity="primary" />
                                            <Button icon="pi pi-times" label="Odustani" severity="secondary"
                                                @click="commendDialogVisible = false" />
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </Dialog>
                    </div>
                </div>
            </div>
            <div class="factory-map">
                <Map.OlMap style="width: 100%; height: 100%">
                    <Map.OlView :center="!location ? [] : [location.latitude, location.longitude]" :zoom="16"
                        projection="EPSG:4326" />
                    <Layers.OlTileLayer>
                        <Sources.OlSourceOsm />
                    </Layers.OlTileLayer>
                    <MapControls.OlFullscreenControl></MapControls.OlFullscreenControl>
                </Map.OlMap>
            </div>
        </div>
    </Fieldset>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import { getSession, isCustomer } from '@/utils/session';
import { useRoute, useRouter } from 'vue-router';
import axios from 'axios';
import moment from 'moment';

import {

    Map,
    Layers,
    Sources,
    MapControls,
} from "vue3-openlayers";

import Panel from 'primevue/panel';
import Fieldset from 'primevue/fieldset';
import Tag from 'primevue/tag';
import Button from 'primevue/button';
import DataView from 'primevue/dataview';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import Dropdown from 'primevue/dropdown';
import Calendar from 'primevue/calendar';
import Rating from 'primevue/rating';
import FloatLabel from 'primevue/FloatLabel';
import Textarea from 'primevue/textarea';

defineProps({
    factory: {
        type: Object,
        required: true
    },
    location: {
        type: Object,
        required: true
    },
    isManager: {
        type: Boolean,
        required: false,
        default: false
    }
});

const router = useRouter();
const route = useRoute();

const genders = ref(['Muški', 'Ženski'])
const showAddEmployeeDialog = ref(false);

const employee = ref({ gender: 'Muški' });
const addEmployee = () => {
    axios.post('http://localhost:8080/users/employees', {
        ...employee.value,
        password_repeated: employee.value.password,
        factory: factory._id,
        dateOfBirth: moment(employee.value.dateOfBirth).format('yyyy-MM-DD')
    }).then(response => {
        //console.log(response);
        showAddEmployeeDialog.value = false;
    }).catch(err => console.error(err))
}

const showEmployeeDialog = () => {
    employee.value = {};
    showAddEmployeeDialog.value = true;
}

const commentText = ref("");
const grade = ref(0);
const commendDialogVisible = ref(false);
const showCommentDialog = () => {
    commentText.value = "";
    grade.value = 0;
    commendDialogVisible.value = true;
}

const postComment = (factoryId) => {
    getSession().then(session => {
        const username = session.username;
        axios.post(`http://localhost:8080/comments/${factoryId}`, {
            username: username,
            text: commentText.value,
            grade: grade.value
        }).then(_ => {
            commendDialogVisible.value = false;
            router.push(`/factories/${factoryId}`);
        })
    })
}

const isAllowedToComment = ref(false);
const fetchIsAllowed = () => {
    getSession().then(session => {
        axios.get(`http://localhost:8080/comments/isAllowed/${session._id}/${route.params.id}`)
            .then(response => {
                console.log(response.data);
                isAllowedToComment.value = response.data.isAllowed;
            });
    })
}

const mapCenter = computed(() => {
    return [45.28102, 19.83236].reverse();
})

onMounted(() => {
    fetchIsAllowed();
})
</script>

<style scoped>
.info-wrapper {
    padding: 1rem;
    display: flex;
}

.info {
    width: 100%;
    padding: 0 2rem;
}

.info-header .tags {
    padding: 0.5rem 0;
    display: flex;
    gap: 10px;
}

.info-header h2 {
    line-height: 1;
    margin: 0.25rem 0;
    padding: 0;
}

.factory-actions {
    padding: 1.5rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
}

.form-buttons-wrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.data-col {
    padding-left: 1.5rem;
}

.comment-textarea {
    padding-top: 1.5rem;
}

.comment-actions {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 0;
    gap: 10px;
}

.factory-map {
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
}
</style>