@import url('./base.css');

.view-container {
  width: 960px;
  padding: 4rem 0;
  margin: 0 auto;
}

.panel {
  border: 1px solid #3f3f46;
  border-radius: 6px;
  background-color: #18181b;
}

.label-col {
  width: 35%;
}

.data-col, .data-col>* {
  width: 100%;
}

.textarea-col {
  padding-top: 1rem;
}

.textarea-col>* {
  margin: 5px 0;
  width: 100%;
  gap: 10px;
}

.dialog-form, .dialog-form > *{
  width: 100%;
}
