<template>
  <div class="app">
    <div class="navigation-bar">
      <Menubar :model="items">
        <template #start>
          <div class="header-name">
            <RouterLink to="/"><strong>ChocolateFactory App</strong></RouterLink>
          </div>
        </template>
        <template #end>
          <Menubar class="end-menubar" :model="rightMenuItems" />
        </template>
      </Menubar>
    </div>
    <RouterView />
  </div>
</template>

<script setup>
import { ref, computed, onMounted } from "vue";
import { RouterLink, RouterView, useRouter } from 'vue-router'
import { getSession, sessionRole, isLoggedIn } from "@/utils/session"

import Menubar from 'primevue/menubar'
import axios from "axios";

onMounted(() => {
  getSession();
})

const router = useRouter();

const items = ref([
  {
    label: 'Početna',
    icon: 'pi pi-home',
    command: () => {
      router.push('/');
    }
  }
]);

const itemsLoggedOut = ref([
  {
    label: 'Uloguj se',
    icon: 'pi pi-sign-in',
    command: () => {
      router.push('/login');
    }
  }
]);

const itemsLoggedIn = ref([
  {
    label: 'Profil',
    icon: 'pi pi-user',
    command: () => {
      router.push('/profile');
    }
  },
  {
    label: 'Izloguj se',
    icon: 'pi pi-sign-out',
    command: () => {
      userLogOut();
    }
  }
]);

const itemsCustomer = ref([
  {
    label: 'Korpa',
    icon: 'pi pi-shopping-cart',
    command: () => {
      router.push('/cart');
    }
  }, ...itemsLoggedIn.value
]);

const rightMenuItems = computed(() => {
  switch (sessionRole.value) {
    case 'customer':
      return itemsCustomer.value;
      break;
    case 'employee':
      return itemsLoggedIn.value;
      break;
    case 'manager':
      return itemsLoggedIn.value;
      break;
    case 'administrator':
      return itemsLoggedIn.value;
      break;
    default:
      return itemsLoggedOut.value;
      break;
  }
})

const userLogOut = () => {
  axios.get("http://localhost:8080/auth/destroySession")
    .then(res => { getSession(); router.push("/login"); })
}

</script>

<style scoped>
.header-name {
  margin-right: 0.75rem;
}

.end-menubar {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

/* Optional: Adjust styling for consistency */
:deep(.p-menubar .p-menuitem) {
  margin: 0 !important;
}
</style>
