<template>
    <main>
        <div class="cart-view view-container">
            <Panel header="Korpa">
                <DataView :value="cart ? cart.cartItems : []" v-if="cart && cart.cartItems.length > 0">
                    <template #list="slotProps">
                        <CartItem v-for="cartItem in slotProps.items" :cartItem="cartItem" :cartId="cart._id"
                            @cartUpdate="updateCart" @removeItem="removeItem" />
                    </template>
                </DataView>
                <h3 v-else>Korpa je prazna.</h3>
                <Divider />
                <div class="info-actions">
                    <span class="total-price">Ukupna cena: <b> {{ totalPrice }} RSD</b></span>
                    <Button :disabled="!(cart && cart.cartItems.length > 0)" icon="pi pi-shopping-cart" label="Kupi"
                        severity="success" @click="makePurchase" />
                </div>
            </Panel>
        </div>
    </main>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import { useRouter } from 'vue-router';
import { getSession } from '@/utils/session';
import axios from 'axios';

import CartItem from '@/components/CartItem.vue'

import Panel from 'primevue/panel';
import DataView from 'primevue/dataview';
import Divider from 'primevue/divider';
import Button from 'primevue/button';

const router = useRouter();

const cart = ref();
const fetchCart = () => {
    getSession().then(session => {
        const userId = session._id;
        console.log(userId);
        axios.get(`http://localhost:8080/user/${userId}`)
            .then(response => {
                console.log(response);
                cart.value = response.data.cart;
            })
    })
}

const updateCart = () => {
    getSession().then(session => {
        const userId = session._id;
        axios.put(`http://localhost:8080/cart/${userId}`, cart.value)
            .then(response => {
                console.log(response);
            }).catch(err => console.error(err))
    })

}

const removeItem = (cartItem) => {
    console.log('rmv item');
    cart.value.cartItems = cart.value.cartItems.filter(i => i !== cartItem);
    updateCart();
}

const makePurchase = () => {
    getSession().then(session => {
        axios.post(`http://localhost:8080/cart/purchase/${session._id}`).then(response => {
            console.log('purchase successful.');
            router.push('/');
        })
    })
}

const totalPrice = computed(() => {
    if (!cart.value) return 0;

    let price = 0;
    cart.value.cartItems.forEach(item => {
        price += item.chocolate.price * item.amount;
    });

    return price;
});

onMounted(() => {
    fetchCart();
})
</script>

<style scoped>
.info-actions {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
}

.total-price b {

    font-size: 1.25rem;
}
</style>