<template>
    <main>
        <div class="factory-view view-container">
            <FactoryInfo :factory="factory" :location="factory.location" :isManager="isManager" />

            <Panel header="Čokolade">
                <DataView :value="factory.chocolates">
                    <template #list="slotProps">
                        <ChocolateListItem v-for="chocolate in slotProps.items" :chocolate="chocolate"
                            :isManager="isManager" :isEmployee="isEmployee" @update="fetchFactory" />
                    </template>
                </DataView>
            </Panel>

            <Panel header="Komentari" v-if="comments && comments.length > 0">
                <DataTable :value="comments">
                    <Column field="user" header="Korisnicko ime"></Column>
                    <Column field="text" header="Komentar"></Column>
                    <Column field="grade" header="Ocena"></Column>
                    <Column header="Akcija" v-if="isManager">
                        <template #body="slotProps">
                            <div class="comment-buttons" v-if="slotProps.data.status === 'Obrada' && isManager">
                                <Button icon="pi pi-check" severity="success"
                                    @click="approveComment(slotProps.data._id)" />
                                <Button icon="pi pi-times" severity="danger"
                                    @click="rejectComment(slotProps.data._id)" />
                            </div>
                        </template>
                    </Column>
                </DataTable>
            </Panel>

            <div class="main-info-wrapper">

                <div class="factory-details-wrapper">
                    <h2>{{ factory.name }}</h2>
                    <button @click="showAddChocolateForm = true">Add Chocolate</button>
                </div>
            </div>
            <div v-if="showAddChocolateForm">
                <AddChocolate :factoryId="factory._id" @close="showAddChocolateForm = false" />
            </div>
        </div>
    </main>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import { useRoute } from 'vue-router';
import { getSession, isAdministrator, isCustomer, session } from "@/utils/session";
import axios from 'axios';

import ChocolateListItem from "@/components/ChocolateListItem.vue"
import AddChocolate from '@/components/AddChocolate.vue';
import FactoryInfo from "@/components/FactoryInfo.vue"

import Panel from 'primevue/panel';
import Button from 'primevue/button';
import DataView from 'primevue/dataview';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';

const route = useRoute();

const showAddChocolateForm = ref(false);

const factory = ref({});
const fetchFactory = () => {
    factory.value.chocolates = [];
    axios.get(`http://localhost:8080/factories/${route.params.id}`)
        .then(response => {
            factory.value = response.data;
        })
        .catch(error => {
            console.error(error);
        });
};

const allComments = computed(() => factory.value.comments);
const approvedComments = computed(() => allComments.value ? allComments.value.filter(c => c.status === 'Odobren') : []);
const comments = computed(() => isManager.value || isAdministrator.value ? allComments.value : approvedComments.value);

const approveComment = (commentId) => {
    console.log(commentId);
    axios.put(`http://localhost:8080/comments/approve/${commentId}`)
        .then(response => {
            console.log(response);
            fetchFactory();
        })
}

const rejectComment = (commentId) => {
    axios.put(`http://localhost:8080/comments/reject/${commentId}`)
        .then(response => { fetchFactory() })
}

const isManager = computed(() => session.value.role === 'manager' && session.value.factory === route.params.id);
const isEmployee = computed(() => session.value.role === 'employee' && session.value.factory === route.params.id);

onMounted(() => {
    getSession();
    fetchFactory();
});
</script>

<style scoped>
.factory-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.factory-details-wrapper {
    padding: 0 2rem;
}

.comment-buttons {
    display: flex;
    gap: 5px;
}
</style>
