<template>
    <main>
        <div class="factory-employees-view view-container">
            <FactoryInfo :factory="factory" :location="factory.location" />

            <Panel header="Radnici">
                <DataTable :value="employees">
                    <Column header="Ime" field="firstName" />
                    <Column header="Prezime" field="lastName" />
                    <Column header="Korisnicko ime" field="username" />
                    <Column header="Akcija">
                        <template #body="slotProps">
                            <Button label="Obrisi" severity="danger" icon="pi pi-trash" />
                        </template>
                    </Column>
                </DataTable>
            </Panel>
        </div>
    </main>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useRoute } from 'vue-router';

import FactoryInfo from "@/components/FactoryInfo.vue"

import Panel from 'primevue/panel';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import ColumnGroup from 'primevue/columngroup';
import Row from 'primevue/row';
import Button from 'primevue/button';

const route = useRoute();

const factory = ref({});
const employees = ref([]);

const fetchFactory = () => {
    factory.value.chocolates = [];
    axios.get(`http://localhost:8080/factories/${route.params.id}`)
        .then(response => {
            factory.value = response.data;
        })
        .catch(error => {
            console.error(error);
        });
}

const fetchEmployees = () => {
    axios.get(`http://localhost:8080/factories/${route.params.id}/employees`)
        .then(response => { employees.value = response.data; })
        .catch(error => { console.error(error); })
}

const deleteEmployee = (employeeId) => {
    //
}

onMounted(() => {
    fetchFactory();
    fetchEmployees();
});

</script>

<style scoped>
.factory-employees-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
</style>