<template>
  <main>
    <div class="home view-container">
      <div class="factories-header">
        <h1>Fabrike čokolade</h1>
        <div class="search-box">
          <InputText v-model="searchTerm" placeholder="Pretraži..." @focus="showSortOptions = true; showFilterOptions = true"/> 
          <MultiSelect v-if="searchTerm && showSortOptions" class="sort-options" v-model="sortCriteria" :options="sortOptions" optionLabel="label" display="chip" placeholder="Sortiraj po"  />
          <MultiSelect v-if="searchTerm && showFilterOptions" class="filter-options" v-model="filterCriteria" :options="filterOptions" optionLabel="label" optionGroupLabel="label" optionGroupChildren="items" display="chip" placeholder="Filtriraj po">
            <template #optiongroup="slotProps">
              <div class="flex align-items-center">
                <div>{{ slotProps.option.label }}</div>
              </div>
            </template>
          </MultiSelect>
        </div> 
        <div>
          <Button v-if="isAdministrator" icon="pi pi-plus" label="Dodaj" :style="{ height: '45px' }"
            @click="addFactoryDialogVisible = true" />
          <Dialog class="dialog" v-model:visible="addFactoryDialogVisible" :style="{ width: '35rem' }"
            header="Dodaj Fabriku Čokolade">
            <form class="add-factory-form dialog-form" method="POST" @submit.prevent="addFactory">
              <table>
                <tr>
                  <td class="label-col"><label for="name">Naziv</label></td>
                  <td class="data-col">
                    <InputText required v-model="chocolateFactory.name" id="name" class="flex-auto"
                      autocomplete="off" />
                  </td>
                </tr>
                <tr>
                  <td class="label-col"><label for="manager">Menadžer</label></td>
                  <td class="data-col">
                    <Dropdown v-model="manager" :options="managers" optionLabel="fullName"
                      placeholder="Odaberi menadžera" />
                  </td>
                </tr>
                <tr>
                  <td class="label-col"><label for="logo">Logo</label></td>
                  <td class="data-col">
                    <FileUpload mode="basic" name="demo[]" accept="image/*" :maxFileSize="1000000" :auto="true"
                      chooseLabel="Odaberi sliku" url="http://localhost:8080/images" :custom-upload="true"
                      @uploader="onUpload" />
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="label-col">
                    <Fieldset legend="Lokacija">
                      <table>
                        <tr>
                          <td class="label-col"><label for="latitude">Geo. Dužina</label></td>
                          <td class="data-col">
                            <InputNumber v-model="location.latitude" suffix="°" :min="-90" :max="90"
                              :minFractionDigits="2" />
                          </td>
                        </tr>
                        <tr>
                          <td class="label-col"><label for="longitude">Geo. Širina</label></td>
                          <td class="data-col">
                            <InputNumber v-model="location.longitude" suffix="°" :min="-180" :max="180"
                              :minFractionDigits="2" />
                          </td>
                        </tr>
                        <tr>
                          <td class="label-col"><label for="adress">Adresa</label></td>
                          <td class="data-col">
                            <InputText required v-model="location.adress" id="adress" autocomplete="off" />
                          </td>
                        </tr>
                      </table>
                    </Fieldset>
                    <Fieldset legend="Radno vreme">
                      <table>
                        <tr>
                          <td class="label-col"><label for="start">Početak</label></td>
                          <td class="data-col">
                            <Calendar v-model="workingHours.start" showIcon iconDisplay="input" timeOnly />
                          </td>
                        </tr>
                        <tr>
                          <td class="label-col"><label for="end">Kraj</label></td>
                          <td class="data-col">
                            <Calendar v-model="workingHours.end" showIcon iconDisplay="input" timeOnly />
                          </td>
                        </tr>
                      </table>
                    </Fieldset>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="form-buttons-wrapper">
                      <Button type="submit" label="Sačuvaj" />
                      <Button type="button" label="Odustani" severity="secondary"
                        @click="addFactoryDialogVisible = false" />
                    </div>
                  </td>
                </tr>
              </table>
            </form>
          </Dialog>
        </div>
      </div>
      <FactoriesTableDisplay :factories="searchedFactories"/>
    </div>
  </main>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import { getSession, isAdministrator } from '@/utils/session';
import axios from 'axios';
import moment from 'moment';

import FactoriesTableDisplay from '@/components/FactoriesTableDisplay.vue';
import Button from 'primevue/button';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import Fieldset from 'primevue/fieldset';
import FileUpload from 'primevue/fileupload';
import InputNumber from 'primevue/inputnumber';
import Calendar from 'primevue/calendar';
import Dropdown from 'primevue/dropdown';
import MultiSelect from 'primevue/multiselect';

const addFactoryDialogVisible = ref(false);

const chocolateFactory = ref({});
const location = ref({ latitude: 0.0, longitude: 0.0 });
const workingHours = ref({});
const logo = ref(null);

const manager = ref({});

const searchTerm = ref('');

const showSortOptions = ref(false);
const sortCriteria = ref([]);
const sortOptions = [
  { value: 'name', label: 'Naziv fabrike' },
  { value: 'city', label: 'Grad' },
  { value: 'rating', label: 'Prosečna ocena' }
];

const showFilterOptions = ref(false);
const filterCriteria = ref([]);
const filterOptions = [
  {
    label: 'Vrste čokolade',
    items: [
      { label: 'Obična', value: 'Obična' },
      { label: 'Za kuvanje', value: 'Za kuvanje' },
      { label: 'Za piće', value: 'Za piće' }
    ]
  },
  {
    label: 'Tip čokolade',
    items: [
      { label: 'Crna', value: 'Crna' },
      { label: 'Mlečna', value: 'Mlečna' },
      { label: 'Bela', value: 'Bela' }
    ]
  },
  {
    label: 'Status fabrike',
    items: [
      { label: 'Otvorene', value: 'Radi' }
    ]
  }
];    

onMounted(() => {
  getSession();
  fetchFactories();
  fetchManagers();
})

const factories = ref([]);
const fetchFactories = () => {
  axios.get('http://localhost:8080/factories')
    .then(response => { factories.value = response.data })
    .catch(error => { console.error(error) });
}

const managers = ref([]);
const fetchManagers = () => {
  axios.get('http://localhost:8080/users/managers/free')
    .then(response => {
      console.log(response);
      managers.value = response.data;
    })
    .catch(error => { console.error(error) });
}

const onUpload = async (event) => {
  logo.value = event.files[0];

  //const form = new FormData();
  //form.append("image", fileUp);

  // axios.post('http://localhost:8080/images', form)
  //   .then(response => {
  //     console.log(response);
  //   })
  //   .catch(error => console.error(error));
};

const addFactory = () => {
  // TODO: Validacija
  let factory = { ...chocolateFactory.value };
  factory.location = { ...location.value };
  factory.managerId = manager.value ? manager.value._id : null;
  factory.workingHours = workingHoursFormat.value;

  const form = new FormData();
  form.append("image", logo.value);

  axios.post('http://localhost:8080/images', form)
    .then(response => {
      const filename = response.data.file.filename;
      factory.logo = filename;

      axios.post('http://localhost:8080/factories', factory)
        .then(response => {
          const factoryId = response.data.factory._id;
          axios.post('http://localhost:8080/users/managers/assign', { managerId: factory.managerId, factoryId: factoryId })
            .then(response => {

              // SUCCESS
              console.log(response);

            })
            .catch(errpr => console.error(error))
        })
        .catch(error => console.error(error));
    })
    .catch(error => console.error(error));
}

const workingHoursFormat = computed(() => {
  const start = moment(workingHours.value.start).format('HH:mm');
  const end = moment(workingHours.value.end).format('HH:mm');
  return workingHours.value ? `${start} - ${end}` : null;
})

const sortedFactories = computed(() => {
  const workingFactories = factories.value.filter(factory => factory.status === 'Radi');
  const nonWorkingFactories = factories.value.filter(factory => factory.status !== 'Radi');
  return workingFactories.concat(nonWorkingFactories);
});

const searchedFactories = computed(() => {
  const filteredFactories = sortedFactories.value.filter(factory => {
    const matchesFactoryName = factory.name.toLowerCase().includes(searchTerm.value.toLowerCase());

    const matchesChocolateName = factory.chocolates.some(chocolate =>
      chocolate.name.toLowerCase().includes(searchTerm.value.toLowerCase())
    );

    const addressParts = factory.location.adress.split(',').map(part => part.trim());
    const city = addressParts.length > 1 ? addressParts[1] : '';
    const matchesCity = city.toLowerCase().includes(searchTerm.value.toLowerCase());

    const matchesRating = factory.rating.toString().includes(searchTerm.value);

    return matchesFactoryName || matchesChocolateName || matchesCity || matchesRating;
  });

  if (sortCriteria.value.length > 0) {
    filteredFactories.sort((a, b) => {
      for(let criteria of sortCriteria.value) {
        const sortBy = criteria.value;
        switch (sortBy) {
          case 'name':
            const nameA = a.name.toLowerCase();
            const nameB = b.name.toLowerCase();
            const nameComparison = nameA.localeCompare(nameB);
            if (nameComparison !== 0) {
              return nameComparison;
            }
          case 'city':
            const addressPartsA = a.location.adress.split(',').map(part => part.trim());
            const cityA = addressPartsA.length > 1 ? addressPartsA[1].toLowerCase() : '';

            const addressPartsB = b.location.adress.split(',').map(part => part.trim());
            const cityB = addressPartsB.length > 1 ? addressPartsB[1].toLowerCase() : '';

            const cityComparison = cityA.localeCompare(cityB);
            if (cityComparison !== 0) {
              return cityComparison;
            }
          case 'rating':
            const ratingComparison = a.rating - b.rating;
            if (ratingComparison !== 0) {
              return ratingComparison;
            }
          default:
            break;
        }
      }
      
    });
  }
  return filteredFactories;
});


</script>

<style scoped>
.factories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  gap: 0.75rem;
}
</style>
