<template>
    <main>
        <div class="login view-container">
            <div class="panel-wrapper">
                <div class="panel">

                    <form method="post" @submit.prevent="login">
                        <h2>Login</h2>

                        <div class="row-wrapper">
                            <label for="username">Korisničko ime</label>
                            <InputText required="" id="username" v-model="username" aria-describedby="username-help" />
                        </div>

                        <div class="row-wrapper">
                            <label for="username">Lozinka</label>
                            <Password v-model="password" :feedback="false" />
                        </div>

                        <div class="actions">
                            <Button type="submit" icon="pi pi-sign-in" label="Uloguj se" />
                            <span>Nemaš nalog? <RouterLink to="/register">Registruj se.</RouterLink></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</template>

<script setup>
import { useRouter } from 'vue-router'

import InputText from 'primevue/inputtext';
import FloatLabel from 'primevue/FloatLabel';
import Password from 'primevue/password';
import Button from 'primevue/button';

import { ref } from 'vue';
import axios from 'axios';

const router = useRouter();

const username = ref(null);
const password = ref(null);

const login = () => {
    axios.post("http://localhost:8080/auth/login",
        {
            username: username.value,
            password: password.value
        })
        .then(response => {
            console.log(response);
            sessionStorage.setItem("user", JSON.stringify(response.data.session));
            router.push('/');
        })
        .catch(err => { console.error(err) })
}

</script>

<style scoped>
.panel {
    padding: 2rem;
}

.panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.panel-wrapper>* {
    width: 50%;
}

form {
    margin: 0 auto;
}

.row-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
}

:deep(.p-inputtext) {
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
}
</style>