<template>
    <main>
        <div class="profile-view view-container">
            <Panel header="Profil informacije">
                <div class="profile-info">
                    <img class="profile-pic" src="http://localhost:8080/static/images/pfp.jpg" alt="pfp" />
                    <div class="info">
                        <form action="post" @submit.prevent="editProfile">
                            <table>
                                <tr>
                                    <td class="label-col"><label for="firstName">Ime</label></td>
                                    <td>
                                        <InputText :disabled="!availableEdit" required v-model="user.firstName"
                                            id="firstName" autocomplete="off" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-col"><label for="lastName">Prezime</label></td>
                                    <td>
                                        <InputText :disabled="!availableEdit" required v-model="user.lastName"
                                            id="lastName" autocomplete="off" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-col"><label for="username">Korisničko ime</label></td>
                                    <td>
                                        <InputText :disabled="!availableEdit" required v-model="user.username"
                                            id="username" autocomplete="off" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-col"><label for="birthDate">Datum rođenja</label></td>
                                    <td>
                                        <Calendar :disabled="!availableEdit" v-model="user.birthDate" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-col"><label for="gender">Pol</label></td>
                                    <td>
                                        <Dropdown :disabled="!availableEdit" v-model="user.gender" :options="genders" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="profile-actions">
                                            <Button v-if="!availableEdit" :style="{ width: '200px' }"
                                                icon="pi pi-user-edit" label="Izmeni podatke" severity="info"
                                                @click="enableEdit" />
                                            <Button v-if="availableEdit" :style="{ width: '200px' }" icon="pi pi-times"
                                                label="Odustani" severity="secondary" @click="cancelEdit" />
                                            <Button icon="pi pi-save" v-if="availableEdit" label="Sačuvaj"
                                                severity="primary" @click="editProfile" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </Panel>
            <Panel header="Svi registrovani korisnici" v-if="isAdministrator">
                <div class="users-search">
                    <InputText v-model="userFilters['global'].value" placeholder="Pretraži korisnike..." />
                    <Dropdown showClear v-model="userFilters['role'].value" :options="roles" placeholder="Uloga" />
                    <Dropdown showClear v-model="userFilters['customerType'].value" :options="customerTypes"
                        placeholder="Tip korisnika" />
                </div>
                <DataTable :value="users" removableSort v-model:filters="userFilters"
                    :globalFilterFields="['username', 'firstName', 'lastName']">
                    <Column field="firstName" header="Ime" sortable></Column>
                    <Column field="lastName" header="Prezime" sortable></Column>
                    <Column field="username" header="Korisničko ime" sortable></Column>
                    <Column field="role" filterField="role" header="Uloga" sortable></Column>
                    <Column field="points" header="Bodovi" sortable></Column>
                    <Column field="customerType.name" filterField="customerType" header="Tip" sortable></Column>
                    <Column field="birthDate" header="Datum rođenja"></Column>
                    <Column field="gender" header="Pol"></Column>
                </DataTable>
            </Panel>
            <Panel header="Kupovine u Fabrici" v-else-if="isManager">
                <div class="purchase-search">
                    <InputText v-model="purchaseFilters['factoryName'].value" placeholder="Naziv Fabrike"
                        v-if="isCustomer" />
                    <Calendar v-model="purchaseFilters['timestamp'].value" selectionMode="range" :manualInput="false"
                        showIcon iconDisplay="input" placeholder="Datum kupovine" />
                    <div class="price-search">
                        <InputNumber v-model="purchaseFilters['totalPrice'].value[0]" placeholder="Cena od" />
                        <InputNumber v-model="purchaseFilters['totalPrice'].value[1]" placeholder="Cena do" />
                    </div>
                </div>
                <DataTable :value="factoryPurchases" v-model:filters="purchaseFilters"
                    :globalFilterFields="['factoryName']">
                    <Column field="_purchaseId" header="ID Kupovine"></Column>
                    <Column sortable field="totalPrice" header="Ukupna cena (RSD)"></Column>
                    <Column sortable header="Datum" field="timestamp">
                        <template #body="slotProps">
                            {{ getDate(slotProps.data.timestamp) }}
                        </template>
                    </Column>
                    <Column header="Status" field="status" sortable>
                        <template #body="slotProps">
                            <Tag :value="slotProps.data.status" :severity="getSeverity(slotProps.data.status)" />
                        </template>
                    </Column>
                    <Column header="Akcija">
                        <template #body="slotProps">
                            <div class="purchase-buttons" v-if="slotProps.data.status === 'Obrada' && isManager">
                                <Button icon="pi pi-check" severity="success"
                                    @click="approvePurchase(slotProps.data._purchaseId)" />
                                <Button icon="pi pi-times" severity="danger" @click="showRejectDialog()" />
                                <Dialog class="dialog" v-model:visible="rejectDialogVisible" header="Odbij kupovinu"
                                    :style="{ width: '25rem' }">
                                    <form action="post" @submit.prevent="rejectPurchase(slotProps.data._purchaseId)">
                                        <div>
                                            <Textarea required v-model="rejectMessage" rows="5" cols="35" />
                                            <div class="reject-buttons">
                                                <Button type="submit" label="Odbij" severity="danger" />
                                                <Button type="button" label="Odustani" severity="secondary"
                                                    @click="rejectDialogVisible = false" />
                                            </div>
                                        </div>
                                    </form>
                                </Dialog>
                            </div>
                        </template>
                    </Column>
                </DataTable>
            </Panel>
            <Panel header="Kupovine" v-else-if="isCustomer">
                <div class="purchase-search">
                    <InputText v-model="purchaseFilters['factoryName'].value" placeholder="Naziv Fabrike"
                        v-if="isCustomer" />
                    <Calendar v-model="purchaseFilters['timestamp'].value" selectionMode="range" :manualInput="false"
                        showIcon iconDisplay="input" placeholder="Datum kupovine" />
                    <div class="price-search">
                        <InputNumber v-model="purchaseFilters['totalPrice'].value[0]" placeholder="Cena od" />
                        <InputNumber v-model="purchaseFilters['totalPrice'].value[1]" placeholder="Cena do" />
                    </div>
                </div>

                <DataTable :value="customerPurchases" v-model:filters="purchaseFilters"
                    :globalFilterFields="['factoryName']">
                    <Column field="_purchaseId" header="ID Kupovine"></Column>
                    <Column sortable field="factoryName" header="Fabrika"></Column>
                    <Column sortable field="totalPrice" header="Ukupna cena (RSD)" filterField="totalPrice"></Column>
                    <Column sortable header="Datum" field="timestamp" filterField="timestamp">
                        <template #body="slotProps">
                            {{ getDate(slotProps.data.timestamp) }}
                        </template>
                    </Column>
                    <Column header="Status" field="status" sortable>
                        <template #body="slotProps">
                            <Tag :value="slotProps.data.status" :severity="getSeverity(slotProps.data.status)" />
                        </template>
                    </Column>
                    <Column header="Akcija">
                        <template #body="slotProps">
                            <Button icon="pi pi-times" :disabled="slotProps.data.status !== 'Obrada'" label="Otkazi"
                                severity="danger" @click="cancelPurchase(slotProps.data._purchaseId)" />
                        </template>
                    </Column>
                </DataTable>
            </Panel>

        </div>
    </main>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import axios from 'axios';
import moment from 'moment';
import { getSession, isAdministrator, isCustomer, isManager } from '@/utils/session';

import Panel from 'primevue/panel';
import InputText from 'primevue/inputtext';
import Calendar from 'primevue/calendar';
import Dropdown from 'primevue/dropdown';
import Button from 'primevue/button';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Tag from 'primevue/tag';
import Textarea from 'primevue/textarea';
import Dialog from 'primevue/dialog';
import InputNumber from 'primevue/inputnumber';
import { FilterMatchMode } from 'primevue/api';

const availableEdit = ref(false);
const genders = ref(['Muški', 'Ženski']);

const searchQuery = ref('');

const user = ref({});
const customerPurchases = computed(() => user.value.purchases);
const fetchProfile = () => {
    getSession().then(sessionData => {
        axios.get(`http://localhost:8080/user/${sessionData._id}`)
            .then(response => {
                let profile = response.data;
                profile.birthDate = moment(profile.birthDate).toDate();
                user.value = profile;
            })
            .catch(err => { console.error(err); })
    })
}

const factoryPurchases = ref([]);
const fetchFactoryPurchases = () => {
    getSession().then(session => {
        if (session.role !== 'manager' || !session.factory)
            return;

        axios.get(`http://localhost:8080/purchases/${session.factory}`)
            .then(response => {
                factoryPurchases.value = response.data;
            })
    })
}

const editProfile = () => {
    const editedUser = user.value;
    axios.put(`http://localhost:8080/users`, { ...editedUser, birthDate: moment(editedUser.birthDate).format('yyyy-MM-DD') })
        .then(_ => { cancelEdit(); })
        .catch(err => { console.error(err); })
}

const enableEdit = () => {
    availableEdit.value = true;
}

const cancelEdit = () => {
    fetchProfile();
    availableEdit.value = false;
}

const users = ref([]);
const fetchUsers = () => {
    axios.get('http://localhost:8080/users')
        .then(response => { users.value = response.data; })
}

const approvePurchase = (purchaseId) => {
    axios.put(`http://localhost:8080/purchase/approve/${purchaseId}`)
        .then(_ => {
            fetchFactoryPurchases();
        })
}

const rejectDialogVisible = ref(false);
const rejectMessage = ref();
const rejectPurchase = (purchaseId) => {
    axios.put(`http://localhost:8080/purchase/reject/${purchaseId}`, { rejectMessage: rejectMessage.value })
        .then(_ => {
            fetchFactoryPurchases();
            rejectDialogVisible.value = false;
        })
}

const showRejectDialog = () => {
    rejectMessage.value = "";
    rejectDialogVisible.value = true;
}

const cancelPurchase = (purchaseId) => {
    axios.put(`http://localhost:8080/purchase/cancel/${purchaseId}`)
        .then(_ => {
            fetchProfile();
        })
}

const getSeverity = (status) => {
    switch (status) {
        case 'Obrada':
            return 'warning';
        case 'Odbijeno':
            return 'danger';
        case 'Odobreno':
            return 'success';
        case 'Otkazano':
            return 'danger';
        default:
            return 'secondary'
            break;
    }
}

const getDate = (timestamp) => {
    return moment(timestamp).format('DD-MM-yyyy');
}

const roles = ref(['customer', 'employee', 'manager', 'administrator']);
const customerTypes = ref(['Bronzani', 'Srebrni', 'Zlatni']);
const userFilters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    role: { value: null, matchMode: FilterMatchMode.EQUALS },
    customerType: { value: null, matchMode: FilterMatchMode.EQUALS },
});

/* Purchase Filters */
const searchDates = ref()
const purchaseFilters = ref({
    factoryName: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
    timestamp: { value: null, matchMode: FilterMatchMode.BETWEEN },
    totalPrice: { value: [null, null], matchMode: FilterMatchMode.BETWEEN }
});

onMounted(() => {
    fetchProfile();
    fetchUsers();
    fetchFactoryPurchases();
})

</script>

<style scoped>
.profile-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-info {
    padding: 1rem 0;
    display: flex;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.info {
    width: 100%;
    padding: 0 2rem;
}

.profile-actions {
    display: flex;
    gap: 0.5rem;
    padding-top: 1.75rem;
}

.search-users {
    height: 30px
}

.purchase-buttons {
    display: flex;
    gap: 5px;
}

.reject-buttons {
    display: flex;
    gap: 10px;
    padding: 1rem 0;
}

.purchase-search {
    display: flex;
    gap: 5px;
    padding: 0.5rem;
}

.price-search {
    margin-left: 2rem;
    display: flex;
    gap: 5px;
}

:deep(.p-inputnumber-input) {
    width: 150px;
}
</style>